---
import AppLayout from "../layouts/AppLayout.astro";
import "bootstrap/dist/css/bootstrap.css";
const GOOGLE_API_KEY = "AIzaSyDhluJzFsg9dPELcj6dP-LqXa6iRHYhtwU";
---

<AppLayout title="Event Map" currentPath="/AstroQuest/map">
    <div>
        <div>
            <div class="text-center">
                <h3>Map Settings</h3>
            </div>
            <div>
                <p>Current Latitude: 43.468116</p>
            </div>
            <div>
                <p>Current Longitude: -79.699455</p>
            </div>
            <div class="dropdown">
                Map Overlay:
                <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    &#60;select overlay&#62;
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Light Pollution</a></li>
                    <li><a class="dropdown-item">Darkness</a></li>
                </ul>
            </div>
            <div class="dropdown">
                Time Select:
                <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    &#60;select time&#62;
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">00:00</a></li>
                    <li><a class="dropdown-item">00:30</a></li>
                    <li><a class="dropdown-item">01:00</a></li>
                    <li><a class="dropdown-item">...</a></li>
                    <li><a class="dropdown-item">23:00</a></li>
                    <li><a class="dropdown-item">23:30</a></li>
                </ul>
            </div>
            <div>
                <p>Supposed to be a calendar here. Needs implementation.</p>
            </div>
            <div></div>
            <!-- spacer -->
            <div>
                <p>Selected Latitude: n/a</p>
            </div>
            <div>
                <p>Selected Longitude: n/a</p>
            </div>
        </div>
    </div>
</AppLayout>
