---
import AppLayout from "../layouts/AppLayout.astro";
import "bootstrap/dist/css/bootstrap.css";
const GOOGLE_API_KEY = "AIzaSyDhluJzFsg9dPELcj6dP-LqXa6iRHYhtwU";
---

<AppLayout title="Event Map" currentPath="/AstroQuest/map">
    <div>
        <div>
            <div>
                <h3>Map Settings</h3>
            </div>
            <div>
                <p>Current Latitude: 43.468116</p>
            </div>
            <div>
                <p>Current Longitude: -79.699455</p>
            </div>
            <div>
                <form>
                    <label for="overlay-select">Overlay</label>
                    <select name="overlay-select" id="overlay-select">
                        <option>&#60;select overlay&#62;</option>
                        <option>Light Pollution</option>
                        <option>Darkness</option>
                    </select>
                    <br />
                </form>
            </div>
            <div>
                <form>
                    <label for="time-select">Viewing Time:</label>
                    <select name="time-select" id="time-select">
                        <option>&#60;select time&#62;</option>
                        <option>00:00</option>
                        <option>00:30</option>
                        <option>01:00</option>
                        <option>...</option>
                        <option>23:00</option>
                        <option>23:30</option>
                    </select>
                    <br />
                </form>
            </div>
            <div>
                <p>Supposed to be a calendar here. Needs implementation.</p>
            </div>
            <div></div>
            <!-- spacer -->
            <div>
                <p>Selected Latitude: n/a</p>
            </div>
            <div>
                <p>Selected Longitude: n/a</p>
            </div>
        </div>
    </div>
</AppLayout>
