---
import AppLayout from "../layouts/AppLayout.astro";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap/dist/js/bootstrap.js";
const GOOGLE_API_KEY = "AIzaSyDhluJzFsg9dPELcj6dP-LqXa6iRHYhtwU";
---

<AppLayout title="Event Map" currentPath="/AstroQuest/map">
    <div>
        <div class="text-center card card-title">
            <h3>Map Settings</h3>
        </div>
        <div class="card card-body">
            <p>Current Latitude: 43.468116</p>
        </div>
        <div class="card card-body">
            <p>Current Longitude: -79.699455</p>
        </div>
        <div class="card card-body">
            <div class="dropdown">
                Map Overlay:
                <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    &lg;select overlay&gt;
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/AstroQuest/map"
                            >Light Pollution</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="/AstroQuest/map"
                            >Darkness</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div class="card card-body">
            <div class="dropdown">
                Time Select:
                <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    &lt;select time&gt;
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/AstroQuest/map">00:00</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="/AstroQuest/map">00:30</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="/AstroQuest/map">01:00</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="/AstroQuest/map">...</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/AstroQuest/map">23:00</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="/AstroQuest/map">23:30</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div class="card card-body">
            <p>Supposed to be a calendar here. Needs implementation.</p>
        </div>
        <div></div>
        <!-- spacer -->
        <div class="card card-body">
            <p>Selected Latitude: n/a</p>
        </div>
        <div class="card card-body">
            <p>Selected Longitude: n/a</p>
        </div>
        <div class="card card-body">
            <a
                type="button"
                class="btn btn-primary"
                href="/AstroQuest/map"
            >
                Back to Map
            </a>
        </div>
    </div>
</AppLayout>
